@import './mixin.scss';
.clear-edge{
    margin:0;
    padding:0;
}
body{
    @include wh(100vw,100vh);
    @extend .clear-edge;
    @include fj(center);
    align-items: center;
}
.app{
    @extend .clear-edge;
    @include wh(100vw,100vh);
    position: relative;
    overflow: hidden;
    >canvas{
        z-index: 1;
    }
    .load-container{
        position: absolute;
        top:0;
        left:0;
        z-index: 0;
        @include wh(100%,100%);
        @include fj(center);
        align-items: center;
        background: $bgcolor;
        >h1{
            margin:0;
            color:$light;
            font-size:18px;
            letter-spacing: 0.2em;
            text-shadow: 0px 0px 14px white;
        }
    }
    .game-over{
        overflow: hidden;
        position: relative;
        display: none;
        // >h1{
        //     position: absolute;
        //     @include center();
        // }
        text-align: center;
        color:white;
        h1{
            margin-top:58%;
            // color:red;
        }
        >button{
            position: absolute;
            @include wh(80%,40px);
            bottom: 80px;
            transform: translateX(-50%) skewX(-10deg);
            left:50%;
            border:none;
            background: black;
            color:white;
            box-shadow: 0px 0px 8px gray;
            border-radius: 4px;
            outline: none;
        }
        .show-list{
            bottom:150px;
            background:rgba($color: #000000, $alpha: 0.7);
            box-shadow: 0px 0px 3px gray;
        }
        >button:hover{
            box-shadow: 0px 0px 14px gray;
        }
        >button:focus{
            box-shadow: 0px 0px 14px gray;

        }
    }
    >header{
        @include wh(100%,40px);
        position: absolute;
        right:0;
        top:0;
        @include fj();
        color:white;
        text-align: center;
        line-height: 40px;
        .health-container{
            @include wh(150px,40px);
            border-bottom: 3px rgba($color: #000000, $alpha: 0.5) solid;
            border-right: 3px rgba($color: #000000, $alpha: 0.5) solid;
            border-bottom-right-radius: 5px;
            transform:translateX(-5px) skewX(-10deg); 
            background: rgba($color: #000000, $alpha: 0.3);
            @include fj(center);
            align-items: center;
            .health-bar{
                @include wh(80px,20px);
                overflow: hidden;
                border-radius: 5px;
                background: rgba($color: #000000, $alpha: 0.6);
                .health-value{
                    
                    box-shadow: 0px 0px 4px gray;
                    @include wh(100%,100%);
                    position: relative;
                }
                .health-value::after{
                    content: " ";
                    position: absolute;
                    width:100%;
                    height:100%;
                    background: linear-gradient(transparent,transparent,$bgcolor);
                    bottom: 0;
                    left:0;
                }
            }
        }
        /* 积分 */
        .integral-container{
            @include wh(150px,40px);
            border-bottom: 3px rgba($color: #000000, $alpha: 0.5) solid;
            border-left: 3px rgba($color: #000000, $alpha: 0.5) solid;
            border-bottom-left-radius: 5px;
            transform:translateX(5px) skewX(10deg);
            background: rgba($color: #000000, $alpha: 0.3);
            >p{
                @extend .clear-edge;
            }
        }
    }
    .ranking-list-box{
        display: none;
    }
    .ranking-list-container{
        @include wh(100%,100%);
        @include fj(center);
        align-items: center;
        position: absolute;
        .ranking-list-wrapper{
            @include wh(90%,68%);
            background: rgba(0,0,0,.6);
            color: #f5f5f5;
            overflow: auto;
            >h1{
                @include font(20px,20px);
                text-align:center;
                color:white;
            }
            >table{
                @include wh(92%,88%);
                margin:0 auto;
                text-align: center;
                td{
                    padding:12px 0px;
                    min-width:40px;
                }
                @for $i from 1 through 3{
                    .ranking-list>tr:nth-child(#{$i})>.cup{
                        background: url('../images/cup#{$i}.png') no-repeat;
                        background-position: center;
                        // background-size: 100% 100%;
                    }
                }
               
            }
        }  
        .userinfo-container{
            @include wh(84%,auto);
            position: absolute;
            top:70px;
            color:white;
            @include fj();
            align-items: center;
            span{
                margin-right:5px;
                color:seashell;
            }
            input{
                background: rgba($color: #000000, $alpha: 0.5);
                color:white;
                border:none;
                border-radius: 4px;
                height:20px;
                padding:5px;
                margin-right: 4px;
                width:40%;
            }
            >button{
                border:none;
                height:28px;
                width:60px;
                border-radius: 4px;
                color:green;
            }
        }
        .start-btn{
            position: absolute;
            bottom:40px;
            width:80%;
            height:40px;
            border:none;
            border-radius: 4px;
            background: black;
            color:white;
            box-shadow: 0px 0px 8px gray;
            // outline: none;
        }
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        /*滚动区域背景*/     
        ::-webkit-scrollbar-track-piece {
            background-color: black;
            -webkit-border-radius: 6px;
        }  
        /*竖向滚动条*/      
        ::-webkit-scrollbar-thumb:vertical {
            height: 5px;
            background-color: silver;
            -webkit-border-radius: 6px;
        }  
    }
}

@media screen and (min-width: 750px){
    .app{
        @include wh(375px,812px);
    }
}