@charset "UTF-8";
.clear-edge, body, .app, .app > header .integral-container > p {
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center; }

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .app > canvas {
    z-index: 1; }
  .app .load-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    background: #2a2a2a; }
    .app .load-container > h1 {
      margin: 0;
      color: #eee;
      font-size: 18px;
      letter-spacing: 0.2em;
      text-shadow: 0px 0px 14px white; }
  .app .game-over {
    overflow: hidden;
    position: relative;
    display: none;
    text-align: center;
    color: white; }
    .app .game-over h1 {
      margin-top: 58%; }
    .app .game-over > button {
      position: absolute;
      width: 80%;
      height: 40px;
      bottom: 80px;
      transform: translateX(-50%) skewX(-10deg);
      left: 50%;
      border: none;
      background: black;
      color: white;
      box-shadow: 0px 0px 8px gray;
      border-radius: 4px;
      outline: none; }
    .app .game-over .show-list {
      bottom: 150px;
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 0px 0px 3px gray; }
    .app .game-over > button:hover {
      box-shadow: 0px 0px 14px gray; }
    .app .game-over > button:focus {
      box-shadow: 0px 0px 14px gray; }
  .app > header {
    width: 100%;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    color: white;
    text-align: center;
    line-height: 40px;
    /* 积分 */ }
    .app > header .health-container {
      width: 150px;
      height: 40px;
      border-bottom: 3px rgba(0, 0, 0, 0.5) solid;
      border-right: 3px rgba(0, 0, 0, 0.5) solid;
      border-bottom-right-radius: 5px;
      transform: translateX(-5px) skewX(-10deg);
      background: rgba(0, 0, 0, 0.3);
      display: -webkit-flex;
      display: -webkit-box;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      align-items: center; }
      .app > header .health-container .health-bar {
        width: 80px;
        height: 20px;
        overflow: hidden;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.6); }
        .app > header .health-container .health-bar .health-value {
          box-shadow: 0px 0px 4px gray;
          width: 100%;
          height: 100%;
          position: relative; }
        .app > header .health-container .health-bar .health-value::after {
          content: " ";
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(transparent, transparent, #2a2a2a);
          bottom: 0;
          left: 0; }
    .app > header .integral-container {
      width: 150px;
      height: 40px;
      border-bottom: 3px rgba(0, 0, 0, 0.5) solid;
      border-left: 3px rgba(0, 0, 0, 0.5) solid;
      border-bottom-left-radius: 5px;
      transform: translateX(5px) skewX(10deg);
      background: rgba(0, 0, 0, 0.3); }
  .app .ranking-list-box {
    display: none; }
  .app .ranking-list-container {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    /*滚动区域背景*/
    /*竖向滚动条*/ }
    .app .ranking-list-container .ranking-list-wrapper {
      width: 90%;
      height: 68%;
      background: rgba(0, 0, 0, 0.6);
      color: #f5f5f5;
      overflow: auto; }
      .app .ranking-list-container .ranking-list-wrapper > h1 {
        font: 20px/20px "Microsoft YaHei";
        text-align: center;
        color: white; }
      .app .ranking-list-container .ranking-list-wrapper > table {
        width: 92%;
        height: 88%;
        margin: 0 auto;
        text-align: center; }
        .app .ranking-list-container .ranking-list-wrapper > table td {
          padding: 12px 0px;
          min-width: 40px; }
        .app .ranking-list-container .ranking-list-wrapper > table .ranking-list > tr:nth-child(1) > .cup {
          background: url("../images/cup1.png") no-repeat;
          background-position: center; }
        .app .ranking-list-container .ranking-list-wrapper > table .ranking-list > tr:nth-child(2) > .cup {
          background: url("../images/cup2.png") no-repeat;
          background-position: center; }
        .app .ranking-list-container .ranking-list-wrapper > table .ranking-list > tr:nth-child(3) > .cup {
          background: url("../images/cup3.png") no-repeat;
          background-position: center; }
    .app .ranking-list-container .userinfo-container {
      width: 84%;
      height: auto;
      position: absolute;
      top: 70px;
      color: white;
      display: -webkit-flex;
      display: -webkit-box;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      align-items: center; }
      .app .ranking-list-container .userinfo-container span {
        margin-right: 5px;
        color: seashell; }
      .app .ranking-list-container .userinfo-container input {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 4px;
        height: 20px;
        padding: 5px;
        margin-right: 4px;
        width: 40%; }
      .app .ranking-list-container .userinfo-container > button {
        border: none;
        height: 28px;
        width: 60px;
        border-radius: 4px;
        color: green; }
    .app .ranking-list-container .start-btn {
      position: absolute;
      bottom: 40px;
      width: 80%;
      height: 40px;
      border: none;
      border-radius: 4px;
      background: black;
      color: white;
      box-shadow: 0px 0px 8px gray; }
    .app .ranking-list-container ::-webkit-scrollbar {
      width: 6px;
      height: 6px; }
    .app .ranking-list-container ::-webkit-scrollbar-track-piece {
      background-color: black;
      -webkit-border-radius: 6px; }
    .app .ranking-list-container ::-webkit-scrollbar-thumb:vertical {
      height: 5px;
      background-color: silver;
      -webkit-border-radius: 6px; }

@media screen and (min-width: 750px) {
  .app {
    width: 375px;
    height: 812px; } }
